In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# import pandas as pd
# # Specify the file path
# file_path = '/content/drive/MyDrive/CUNY/Capstone/Data/market_price/ES_2010_2023_without_head.xlsx'

# # Read the Excel file into a DataFrame
# df = pd.read_excel(file_path)

# # Display the DataFrame
# print(df)

     2023-09-15 00:00:00                      ESU23     4508  4517.75  \
0             2023-09-14                      ESU23  4471.75   4513.0
1             2023-09-13  yahoo finacncl fot s&p500  4464.50   4481.0
2             2023-09-12                      ESU23  4487.75   4491.0
3             2023-09-11                      ESU23  4463.50   4493.5
4             2023-09-08                      ESU23  4458.25   4477.5
...                  ...                        ...      ...      ...
3505          2009-10-19                        NaN      NaN      NaN
3506          2009-10-16                        NaN      NaN      NaN
3507          2009-10-15                        NaN      NaN      NaN
3508          2009-10-14                        NaN      NaN      NaN
3509          2009-10-13                        NaN      NaN      NaN

         4480  4491.72      43852          0 Unnamed: 8  Unnamed: 9  ...  \
0     4470.25  4506.00   454906.0   494033.0        NaN         NaN  ...
1     4446.75  4468.75   690872.0   543678.0        NaN         NaN  ...
2     4458.75  4465.00  1153961.0   693065.0        NaN         NaN  ...
3     4459.25  4490.25  1714266.0  1114703.0        NaN         NaN  ...
4     4443.00  4461.75  1686158.0  1777349.0        NaN         NaN  ...
...       ...      ...        ...        ...        ...         ...  ...
3505      NaN      NaN        NaN        NaN        NaN         NaN  ...
3506      NaN      NaN        NaN        NaN        NaN         NaN  ...
3507      NaN      NaN        NaN        NaN        NaN         NaN  ...
3508      NaN      NaN        NaN        NaN        NaN         NaN  ...
3509      NaN      NaN        NaN        NaN        NaN         NaN  ...

      Unnamed: 525  Unnamed: 526  Unnamed: 527  Unnamed: 528  Unnamed: 529  \
0              NaN           NaN           NaN           NaN           NaN
1              NaN           NaN           NaN           NaN           NaN
2              NaN           NaN           NaN           NaN           NaN
3              NaN           NaN           NaN           NaN           NaN
4              NaN           NaN           NaN           NaN           NaN
...            ...           ...           ...           ...           ...
3505           NaN           NaN           NaN         ESZ10       1076.75
3506           NaN           NaN           NaN         ESZ10       1067.75
3507           NaN           NaN           NaN         ESZ10       1075.50
3508           NaN           NaN           NaN         ESZ10       1073.50
3509           NaN           NaN           NaN         ESZ10       1054.50

     Unnamed: 530  Unnamed: 531  Unnamed: 532  Unnamed: 533  Unnamed: 534
0             NaN           NaN           NaN           NaN           NaN
1             NaN           NaN           NaN           NaN           NaN
2             NaN           NaN           NaN           NaN           NaN
3             NaN           NaN           NaN           NaN           NaN
4             NaN           NaN           NaN           NaN           NaN
...           ...           ...           ...           ...           ...
3505      1076.75       1076.75       1076.75           0.0           1.0
3506      1067.75       1067.75       1067.75           0.0           1.0
3507      1075.50       1075.50       1075.50           0.0           1.0
3508      1073.50       1073.50       1073.50           0.0           1.0
3509      1054.50       1054.50       1054.50           0.0           1.0

[3510 rows x 535 columns]

In [5]:
import pandas as pd

# Assuming df is your DataFrame with 3510 rows and 535 columns
# Replace 'path/to/your/excel/file.xlsx' with the actual path to your Excel file.
file_path = '/content/drive/MyDrive/CUNY/Capstone/Data/market_price/ES_2010_2023_without_head.xlsx'
df = pd.read_excel(file_path, header=None)  # Assuming there is no header in the Excel file

# Assuming the first column is 'date', and the rest are your data columns
date_column = df.iloc[:, 0]  # Extract the 'date' column
data_columns = df.iloc[:, 1:]  # Extract the data columns

# Create a new DataFrame with the desired structure
result_df = pd.DataFrame(columns=range(df.shape[1]))

# Fill the date column in the new DataFrame
result_df.iloc[:, 0] = date_column

# Iterate over rows and shift non-null values to the right
for i in range(len(df)):
    non_null_values = data_columns.iloc[i].dropna().tolist()
    result_df.iloc[i, -len(non_null_values):] = non_null_values

# Display the resulting DataFrame
print(result_df)

<ipython-input-5-6613a15cdd62>:16: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  result_df.iloc[:, 0] = date_column

            0    1    2    3    4    5    6    7    8    9    ...  525  526  \
0    2023-09-15  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
1    2023-09-14  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
2    2023-09-13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
3    2023-09-12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
4    2023-09-11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
3506 2009-10-19  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
3507 2009-10-16  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
3508 2009-10-15  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
3509 2009-10-14  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN
3510 2009-10-13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN

      527                        528      529      530      531      532  \
0     NaN                      ESU23   4508.0  4517.75   4480.0  4491.72
1     NaN                      ESU23  4471.75   4513.0  4470.25   4506.0
2     NaN  yahoo finacncl fot s&p500   4464.5   4481.0  4446.75  4468.75
3     NaN                      ESU23  4487.75   4491.0  4458.75   4465.0
4     NaN                      ESU23   4463.5   4493.5  4459.25  4490.25
...   ...                        ...      ...      ...      ...      ...
3506  NaN                      ESZ10  1076.75  1076.75  1076.75  1076.75
3507  NaN                      ESZ10  1067.75  1067.75  1067.75  1067.75
3508  NaN                      ESZ10   1075.5   1075.5   1075.5   1075.5
3509  NaN                      ESZ10   1073.5   1073.5   1073.5   1073.5
3510  NaN                      ESZ10   1054.5   1054.5   1054.5   1054.5

            533        534
0       43852.0        0.0
1      454906.0   494033.0
2      690872.0   543678.0
3     1153961.0   693065.0
4     1714266.0  1114703.0
...         ...        ...
3506        0.0        1.0
3507        0.0        1.0
3508        0.0        1.0
3509        0.0        1.0
3510        0.0        1.0

[3511 rows x 535 columns]

In [7]:
import pandas as pd

# Extract columns 0, 527, and 534
selected_columns_df = result_df.iloc[:, [0, 506, 513, 520, 527, 534]]

# Rename the columns
selected_columns_df.columns = ["Date", "far_month_openInterest_3", "far_month_openInterest_2", "far_month_openInterest_1", "far_month_openInterest_0", "near_month_openInterest"]

# Fill any potential NaN values in the DataFrame with 0
selected_columns_df = selected_columns_df.fillna(0)

# Create a new column "total_month_openInterest" by adding specific columns
selected_columns_df["total_month_openInterest"] = (
    selected_columns_df["far_month_openInterest_3"] +
    selected_columns_df["far_month_openInterest_2"] +
    selected_columns_df["far_month_openInterest_1"] +
    selected_columns_df["far_month_openInterest_0"] +
    selected_columns_df["near_month_openInterest"]
)

# Display the resulting DataFrame
print(selected_columns_df)

selected_columns_df.to_csv("selected_columns_df.csv", index=False)

           Date  far_month_openInterest_3  far_month_openInterest_2  \
0    2023-09-15                       0.0                       0.0
1    2023-09-14                       0.0                       0.0
2    2023-09-13                       0.0                       0.0
3    2023-09-12                       0.0                       0.0
4    2023-09-11                       0.0                       0.0
...         ...                       ...                       ...
3506 2009-10-19                       0.0                       0.0
3507 2009-10-16                       0.0                       0.0
3508 2009-10-15                       0.0                       0.0
3509 2009-10-14                       0.0                       0.0
3510 2009-10-13                       0.0                       0.0

      far_month_openInterest_1  far_month_openInterest_0  \
0                          0.0                       0.0
1                          0.0                       0.0
2                          0.0                       0.0
3                          0.0                       0.0
4                          0.0                       0.0
...                        ...                       ...
3506                       0.0                       0.0
3507                       0.0                       0.0
3508                       0.0                       0.0
3509                       0.0                       0.0
3510                       0.0                       0.0

      near_month_openInterest  total_month_openInterest
0                         0.0                       0.0
1                    494033.0                  494033.0
2                    543678.0                  543678.0
3                    693065.0                  693065.0
4                   1114703.0                 1114703.0
...                       ...                       ...
3506                      1.0                       1.0
3507                      1.0                       1.0
3508                      1.0                       1.0
3509                      1.0                       1.0
3510                      1.0                       1.0

[3511 rows x 7 columns]

In [8]:
selected_columns_df.to_csv("/content/drive/MyDrive/CUNY/Capstone/Data/market_price/e_mini_sp500_history_openInterest_20091013_20230915.csv")

In [14]:
import sqlite3
import pandas as pd

def read_sqlite(conn_path, table_name):

    # Define your SQL query to retrieve data from a specific table
    query = "SELECT * FROM %s" %(table_name)
    with sqlite3.connect(conn_path) as conn:
        df = pd.read_sql_query(query, conn)

    return df

conn_path = '/content/drive/MyDrive/CUNY/Capstone/Data/2_wsj_titles/done/article_content/capstone.db'
table_name = 'e_mini_sp500_futuresHistorical_data_with_obtained_indexes_20100104_20231006'



df = read_sqlite(conn_path, table_name)

df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

print(df.head())

               Price      Open      High       Low   Vol. Change %  SOFR  \
Date
2023-10-06  4,341.50  4,287.50  4,358.50  4,242.25  2.13M    1.18%  5.31
2023-10-05  4,290.75  4,291.50  4,302.00  4,258.00  1.67M   -0.16%  5.32
2023-10-04  4,297.75  4,262.75  4,304.00  4,235.50  2.17M    0.77%  5.32
2023-10-03  4,264.75  4,326.00  4,335.75  4,251.25  2.26M   -1.38%  5.33
2023-10-02  4,324.25  4,349.00  4,355.50  4,295.50  1.95M   -0.03%  5.32

            HQMCB10YR    WM1NS    WM2NS  ...  DEXJPUS  DEXCHUS  DEXUSUK  \
Date                                     ...
2023-10-06       6.11  18123.0  20705.8  ...   149.08    7.296   1.2255
2023-10-05       6.11  18123.0  20705.8  ...   148.49    7.296   1.2171
2023-10-04       6.11  18123.0  20705.8  ...   148.83    7.296   1.2157
2023-10-03       6.11  18123.0  20705.8  ...   149.16    7.296   1.2069
2023-10-02       6.11  18123.0  20705.8  ...   149.80    7.296   1.2130

             BOGMBASE   DGORDER     PMI_Release Date  PMI_Time  PMI_Actual  \
Date
2023-10-06  5601300.0  279431.0                 None      None         NaN
2023-10-05  5601300.0  279431.0                 None      None         NaN
2023-10-04  5601300.0  279431.0                 None      None         NaN
2023-10-03  5601300.0  279431.0                 None      None         NaN
2023-10-02  5601300.0  279431.0  2023-10-02 00:00:00      9:00        49.0

            PMI_Forecast  PMI_Previous
Date
2023-10-06           NaN           NaN
2023-10-05           NaN           NaN
2023-10-04           NaN           NaN
2023-10-03           NaN           NaN
2023-10-02          47.7          47.6

[5 rows x 33 columns]

In [26]:
# Extract all columns from selected_columns_df and then select the last three
selected_columns_df_last_three = selected_columns_df.iloc[:, [0, -3, -2, -1]]  # Include the "Date" column
selected_columns_df_last_three.head()

,Date,far_month_openInterest_0,near_month_openInterest,total_month_openInterest
0,2023-09-15,0.0,0.0,0.0
1,2023-09-14,0.0,494033.0,494033.0
2,2023-09-13,0.0,543678.0,543678.0
3,2023-09-12,0.0,693065.0,693065.0
4,2023-09-11,0.0,1114703.0,1114703.0

In [27]:
import pandas as pd

# Assuming selected_columns_df is the DataFrame with selected columns
# Convert "Date" column to datetime type to ensure proper merging
selected_columns_df['Date'] = pd.to_datetime(selected_columns_df['Date'])

# Extract all columns from selected_columns_df and then select the last three
selected_columns_df_last_three = selected_columns_df.iloc[:, [0, -3, -2, -1]]  # Include the "Date" column

# Merge DataFrames based on the "Date" column using a left join
merged_df = pd.merge(df, selected_columns_df_last_three, on='Date', how='left')

# Display the resulting DataFrame
print(merged_df)

           Date     Price      Open      High       Low     Vol.     Change %  \
0    2023-10-06  4,341.50  4,287.50  4,358.50  4,242.25    2.13M        1.18%
1    2023-10-05  4,290.75  4,291.50  4,302.00  4,258.00    1.67M       -0.16%
2    2023-10-04  4,297.75  4,262.75  4,304.00  4,235.50    2.17M        0.77%
3    2023-10-03  4,264.75  4,326.00  4,335.75  4,251.25    2.26M       -1.38%
4    2023-10-02  4,324.25  4,349.00  4,355.50  4,295.50    1.95M       -0.03%
...         ...       ...       ...       ...       ...      ...          ...
3600 2010-01-08    1141.5   1137.25   1141.75      1131  1527666  0.351648352
3601 2010-01-07    1137.5      1133   1138.75      1127  1567025   0.39717564
3602 2010-01-06      1133      1132    1135.5   1127.25  1259921  0.066239788
3603 2010-01-05   1132.25    1128.5      1133      1125  1378593  0.310077519
3604 2010-01-04   1128.75   1113.75   1129.75   1113.25  1291254            0

      SOFR  HQMCB10YR    WM1NS  ...   BOGMBASE   DGORDER     PMI_Release Date  \
0     5.31       6.11  18123.0  ...  5601300.0  279431.0                 None
1     5.32       6.11  18123.0  ...  5601300.0  279431.0                 None
2     5.32       6.11  18123.0  ...  5601300.0  279431.0                 None
3     5.33       6.11  18123.0  ...  5601300.0  279431.0                 None
4     5.32       6.11  18123.0  ...  5601300.0  279431.0  2023-10-02 00:00:00
...    ...        ...      ...  ...        ...       ...                  ...
3600   NaN       5.48   1789.5  ...  1995000.0  181016.0                 None
3601   NaN       5.48   1789.5  ...  1995000.0  181016.0                 None
3602   NaN       5.48   1789.5  ...  1995000.0  181016.0                 None
3603   NaN       5.48   1789.5  ...  1995000.0  181016.0                 None
3604   NaN       5.48   1789.5  ...  1995000.0  181016.0  2010-01-04 00:00:00

      PMI_Time  PMI_Actual  PMI_Forecast  PMI_Previous  \
0         None         NaN           NaN           NaN
1         None         NaN           NaN           NaN
2         None         NaN           NaN           NaN
3         None         NaN           NaN           NaN
4         9:00        49.0          47.7          47.6
...        ...         ...           ...           ...
3600      None         NaN           NaN           NaN
3601      None         NaN           NaN           NaN
3602      None         NaN           NaN           NaN
3603      None         NaN           NaN           NaN
3604     10:00        55.9          54.0          53.6

      far_month_openInterest_0  near_month_openInterest  \
0                          NaN                      NaN
1                          NaN                      NaN
2                          NaN                      NaN
3                          NaN                      NaN
4                          NaN                      NaN
...                        ...                      ...
3600                       0.0                      8.0
3601                       0.0                      8.0
3602                       0.0                      8.0
3603                       0.0                      8.0
3604                       0.0                      6.0

      total_month_openInterest
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
...                        ...
3600                       8.0
3601                       8.0
3602                       8.0
3603                       8.0
3604                       6.0

[3605 rows x 37 columns]

In [29]:
from datetime import datetime, timezone
import pandas as pd
import time

def save_to_sqlite(df, conn_path, table_name):
    # Use a context manager to handle the connection
    with sqlite3.connect(conn_path) as conn:
        df.to_sql(table_name, conn, if_exists='replace', index=False)

    save_time = time.time()
    save_time_datetime = datetime.fromtimestamp(save_time, tz=timezone.utc)
    save_time_str = save_time_datetime.strftime('%Y-%m-%d %H:%M:%S')

    print("DataFrame has been saved on %s" % save_time_str)

conn_path = '/content/drive/MyDrive/CUNY/Capstone/Data/2_wsj_titles/done/article_content/capstone.db'
table_name = 'e_mini_sp500_futuresHistorical_data_with_obtained_indexes_20100104_20231006'

save_to_sqlite(merged_df, conn_path, table_name)

DataFrame has been saved on 2023-12-15 01:50:17

In [ ]:
# import yfinance as yf

# # Define the ticker symbol for E-mini S&P 500 futures (for example, ES=F)
# ticker = "ES=F"

# # Set the start and end dates for historical data
# start_date = "2023-09-01"
# end_date = "2023-10-06"

# # Fetch historical data using yfinance
# data = yf.download(ticker, start=start_date, end=end_date)

# # Select the required columns
# selected_columns = ["Open", "High", "Low", "Close", "Volume"]
# selected_data = data[selected_columns]

# # Calculate the daily percentage change
# selected_data["Change %"] = selected_data["Close"].pct_change() * 100

# # Display the result
# print(selected_data)

In [28]:
import pandas as pd
merged_df.to_csv("merged_df.csv")